@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Lato&family=Playfair+Display:wght@600&family=Roboto:wght@100;300;500&family=Yeseva+One&display=swap');

#name {
    font-family: 'Yeseva One', cursive;
    font-size: 84pt;
    text-align: center;
    margin-bottom: -20px;
}

#job-title {
    font-family: 'Yeseva One', cursive;
    font-size: 24pt;
    text-align: center;
}

.home-image {
    width: 600px;
    height: 400px;
}

.img-wrap {
    width: 600px;
    height: 400px;
    padding: 20px;
    position: relative;
}

.img-text {
    visibility: hidden;
    font-family: 'Arsenal', sans-serif;
    text-transform: uppercase;
    font-size: 20pt;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.img-wrap:hover .home-image {
    opacity: 0.2;
}

.img-wrap:hover .img-text{
    visibility: visible;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}